#heart-container {

    width: 80%;
    margin: 0 10%;
    height: 90%;
    display: none;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    12.5% {
        opacity: 0.75;
    }
    25% {
        opacity: 0.5;
    }
    37.5% {
        opacity: 0.25;
    }
    50% {
        opacity: 0;
    }
    62.5% {
        opacity: 0.25;
    }
    75% {
        opacity: 0.5;
    }
    87.5% {
        opacity: 0.75;
    }
    100% {
        opacity: 1;
    }
}
#heart {
    width: 600px;
    position: relative;
    animation: blink 0.3s;
    animation-iteration-count: infinite;
    height: 0;
}
